/*Estilos GENERALES*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
}

body{
	height: 100vh;
}

/*Estilos al HEADER*/

.header{
	width: 100%;
}

.navbar{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding-top: 0;
}

.navbar__item{
	list-style: none;
}

.navbar__link{
	text-decoration: none;
	font-size: 1.6rem;
	color: #000;
	padding-left: 1rem;
	margin-right: 2rem;
	color: #212121;
}

.perfil__image{
	width: 3.5rem;
	height: 3.5rem;
	margin-right: 1rem;
	border-radius: 90%;
}


.cuadricula{
	display: flex;
	flex-wrap: wrap;
	width: 4rem;
	height: 1rem;
	position: relative;
	top: -1.5rem;
	right:0.5rem;
}

.cuadricula__hijo{
	width: 0.5rem;
	height: 0.5rem;
	background-color: #737373;
	margin: 0.3rem;
}

/*Estilos al MAIN*/

.main{
	width: 100%;
}

.section{
	width: 85%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-top: 25%;
}

.logo__google, .ofrece{
	align-self: center;
}

.search{
	width: 100%;
	border: 1px solid #DFE1E5;
	padding: 0.5rem;
	border-radius: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
}

.form{
	width: 100%;
}

input[type="text"]{
	width: 80%;
	margin: 0 auto;
	padding: 0.5rem;
	border: none;
	outline: none;
	font-size: 1.6rem;
}

/*.botones{
	width: 80%;
	margin: 0 auto;
}*/

input[type="submit"]{
	margin-right: 0.8rem; 
	margin-left: 0.8rem;
	padding: 1rem;
	background-color: #F4F4F4;
	border: 1px solid transparent;
	color: #5F6368;
	border-radius: 5px;
	margin-bottom: 3rem;
	outline: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 2rem;
}

input[type="submit"]:hover{
	border: 1px solid #C6C6C6;
}

.ofrece{
	font-size: 1.2rem;
}

.ofrece a{
	text-decoration: none;
	font-size: 1.2rem;
}

svg{
	width: 3rem;
	display: inline;
	line-height: 1;
}


